<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.dao.OrganizationCertificateMapper">
  <resultMap id="BaseResultMap" type="cn.edu.vo.OrganizationCertificate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="org_cer_id" jdbcType="BIGINT" property="orgCerId" />
    <result column="organization_id" jdbcType="VARCHAR" property="organizationId" />
    <result column="certificate_id" jdbcType="VARCHAR" property="certificateId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
  </resultMap>
  <select id="getOrganizationid" resultType="cn.edu.vo.Organization" parameterType="java.lang.String">
    select * from organization_certificate AS a WHERE 1 = 1
    <if test="certificateId != null"></if>
    AND a.certificate = #{certificateId}
  </select>
  <delete id="delete">
    DELETE FROM organization_certificate  WHERE  organization_id = #{id} or certificate_id = #{id}
  </delete>
</mapper>