<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.dao.UserCertificateMapper">
  <resultMap id="BaseResultMap" type="cn.edu.vo.UserCertificate">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="user_cer_id" jdbcType="BIGINT" property="userCerId" />
    <result column="certificate_id" jdbcType="VARCHAR" property="certificateId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="student_id1" jdbcType="VARCHAR" property="studentId1" />
    <result column="student_id2" jdbcType="VARCHAR" property="studentId2" />
    <result column="student_id3" jdbcType="VARCHAR" property="studentId3" />
    <result column="student_id4" jdbcType="VARCHAR" property="studentId4" />
    <result column="student_id5" jdbcType="VARCHAR" property="studentId5" />
    <result column="student_id6" jdbcType="VARCHAR" property="studentId6" />
    <result column="student_id7" jdbcType="VARCHAR" property="studentId7" />
    <result column="student_id8" jdbcType="VARCHAR" property="studentId8" />
    <result column="student_id9" jdbcType="VARCHAR" property="studentId9" />
    <result column="student_id10" jdbcType="VARCHAR" property="studentId10" />
    <result column="teacher_id1" jdbcType="VARCHAR" property="teacherId1" />
    <result column="teacher_id2" jdbcType="VARCHAR" property="teacherId2" />
    <result column="teacher_id3" jdbcType="VARCHAR" property="teacherId3" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="certificate_level" jdbcType="VARCHAR" property="certificateLevel" />
    <result column="match_id" jdbcType="VARCHAR" property="matchId" />
    <result column="match_type" jdbcType="VARCHAR" property="matchType" />
    <result column="match_level_level" jdbcType="VARCHAR" property="matchLevelLevel" />
  </resultMap>

  <select id="getCertificateIdListOfId" resultType="java.lang.String">
    SELECT a.certificate_id FROM user_certificate AS a WHERE a.user_id = #{id}
  </select>

  <select id="getListofCertificate" resultType="cn.edu.vo.UserCertificate">
    SELECT * FROM user_certificate AS a WHERE a.certificate_id = #{certificateId}
  </select>





</mapper>